@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
p {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-family: "Amiri", sans-serif;
  src: url("../font/Amiri-Regular.ttf");
}
:root {
  --btn-bg-color: #95a986;
}
.hdr-container {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.hdr-btm-container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-3 {
  padding: 0 15px;
  width: calc(8.33% * 3);
}
.col-7 {
  width: calc(8.33% * 7);
  padding: 0 15px;
}
.col-5 {
  width: calc(8.33% * 5);
  padding: 0 15px;
}
.col-8 {
  width: calc(8.33% * 8);
  padding: 0 15px;
}
.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
.title1 {
  font-size: 45px;
  font-family: "Amiri", sans-serif;
  text-transform: uppercase;
}
img {
  display: inline-block;
}
.bnt {
  color: black;
  padding: 29px 39px;
  background: var(--btn-bg-color);
  border-radius: 60px;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
}
/*************************************Navbar-section***************************/
header {
  background: url("../assets/banner-img.png") no-repeat center/cover;
  min-height: 100vh;
}
.hdr-top-para {
  background: #0d0d0d;
  color: white;
  text-align: center;
}
/* .hdr-btm-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.hdr-name {
  margin-top: 21px;
}
nav,
.navbar-collapse1,
.navbar-collapse1 > ul,
.navbar-collapse2,
.navbar-collapse2 > ul {
  display: flex;
  align-items: center;
}
.nav-link {
  color: white;
  text-transform: uppercase;
  /* margin-top: 21px; */
  padding: 0 !important;
  margin-left: 56px;
}
.navbar-collapse2-image .search {
  margin-left: 56px;
  /* display: flex;
  align-items: center; */
}
nav,
.navbar-collapse1 {
  flex-grow: 1;
}
.usericon {
  margin-left: 22px;
}
.bagicon {
  margin-left: 44px;
}
.navbar-collapse1 > ul {
  margin-left: auto;
}
.navbar-collapse2-image {
  margin-top: 21px;
}
.navbar-collapse2-image a {
  color: white;
}
/* .btn a {
  padding: 29px 38px;
  color: black;
  background: #95a986;
  border-radius: 100px;
  margin: 0;
}
.navbar-brand {
  font-size: 40px;
  color: white;
}
.navbar-collapse1 .nav-items1 a {
  color: white;
  text-transform: uppercase;
  margin-top: 21px;
} */
.nav-link {
  color: white;
  text-transform: uppercase;
  margin-left: 56px;
}
.cart-nav-link {
  color: white;
}
.nav-link-last {
  color: white;
}
.nav-item1 {
  position: relative;
}
.nav-item1::after {
  content: "";
  position: absolute;
  background: white;
  height: 6px;
  width: 6px;
  top: 28px;
  bottom: 0;
  left: 73px;
  right: 0;
  border-radius: 100px;
  border-bottom: 1px solid white;
}
.offcanvas .nav-item2 {
  position: relative;
}
.offcanvas .nav-item2 ::before {
  content: " ";
  height: 1px;
  width: 44px;
  position: absolute;
  top: 16px;
  bottom: 13px;
  left: 0px;
  right: 55px;
  transform: rotate(90deg);
  background: white;
}
.offcanvas {
  flex-direction: row;
}

/* .offcanvas {
  flex-direction: row;
} */
/***************************************Banner-section****************************/
.main-banner-section {
  padding: 95px 0 95px 0;
}
.banner-card {
  background: white;
  max-width: 793px;
  border-radius: 20px;
  /* margin-top: 224px; */
  padding: 76px 60px;
  margin: 0 auto;
}
.main-banner-section .container {
  /* height: 424px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-hdr {
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 68px;
  font-family: "Amiri", sans-serif;
  font-weight: 600;
  max-width: 653px;
}
.banner-card p {
  max-width: 621px;
  text-align: center;
}
/* .bnt {
  color: black;
  padding: 29px 39px;
  background: var(--btn-bg-color);
  border-radius: 60px;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  width: fit-content;
} */

/************************************Products-section***************************/
.products-section {
  padding: 100px 0 90px 0;
}
.product-subhdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-hdr p {
  text-transform: uppercase;
}
.product-subhdr p {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Amiri", sans-serif;
}

.product-card .card-img {
  max-width: 347px;
  height: 382px;
  object-fit: cover;
}
.products-section .row .col-3 {
  padding: 0;
}

/*****************************************Testimonial-section**************************/
.testimonial-section {
  padding: 140px 0 140px 0;
}
.test-hdr {
  font-size: 45px;
  font-family: "Amiri", sans-serif;
}
.testimonial-para {
  max-width: 580px;
}
.back-img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.bg-img {
  max-width: 641px;
  height: 578px;
}
.back-white {
  background: white;
  border-left: 5px solid white;
  border-top: 5px solid white;
  border-top-left-radius: 30px;
  height: 345px;
  width: 326px;
}
.top-img {
  max-width: 326px;
  position: absolute;
  top: 300px;
  bottom: 0px;
  right: 100px;
  left: 400px;
}
.testimonial-cntn .box-arrow {
  margin-top: 25px;
}
.testimonial-para {
  margin: 25px 0 30px 0;
}
.testimonial-bnt a {
  margin: 0 !important;
}
/**************************************About-us-section***********************************/
.aboutus-section {
  padding: 140px 0 140px 0;
}
.about-sub-hdr {
  color: var(--btn-bg-color);
  text-transform: uppercase;
}
.icon-hdr {
  text-transform: uppercase;
  font-size: 24px;
}
.col-3 .icon img {
  max-width: 111px;
  height: 111px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.about-icon .row .col-3 {
  padding: 0 !important;
}
.aboutus-section .box-arrow2 {
  margin: 20px 0 52px 0;
}
/******************(*********************media queries start here*********************/

@media screen and (max-width: 1200px) {
  .offcanvas {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding-top: 58.67px;
  }
  .nav-link,
  .cart-nav-link > .bagicon {
    margin: 0;
  }

  .banner-card {
    padding: 30px;
  }
  .banner-hdr p {
    font-size: 40px;
    margin: 0;
  }
  .banner-card p {
    margin: 0 auto;
    /* margin-top: 20px; */
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .nav-link,
  .cart-nav-link {
    margin-top: 20px;
  }

  .offcanvas .nav-item2 {
    position: relative;
  }
  .offcanvas .nav-item2 ::before {
    content: " ";
    height: 1px;
    width: 44px;
    position: absolute;
    top: 13px;
    bottom: 13px;
    left: 44px;
    right: 58px;
    transform: rotate(360deg);
    background: white;
  }
}
